.card-scroll-container {
  width: 100%;
    display: flex;
    padding: 10px 5% 40px 5%;
    scroll-behavior: smooth;
    align-items: stretch;
    flex-wrap: wrap;
}

.card-scroll-container::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  background-color: white;
  /* height: 300px; */
  justify-content: center;
  display: block;
  padding: 15px;
}

.card img {
  object-fit: cover;
  border-radius: 10px;
}

.card-button {
  display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--text-color);
    font-weight:500;
}

.card-body {
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
  /* slightly bigger */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  /* stronger shadow */
  background-color: white;
}

.card-title {
font-weight: 700;
color: rgb(0, 107, 195);
}

.service {
  background-color: var(--text-color);
}

.card-img-top{
  width: 60% !important;
}
.services-top {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.service-icon {
    display: flex;
    align-items: center;
}
.services-top .price-box
 {
    color: var(--blue);
    font-size: 45px;
    margin: 0;
    position: relative;
    display: inline-flex;
    align-items: first baseline;
    line-height: 55px;
    font-weight: 700;
}
.startText
 {
    position: absolute;
    font-size: 14px;
    top: -15px;
    line-height: 20px;
    font-weight: 500;
    left: 0;
}

.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

.tncApply {
    font-weight: 500;
    font-size: 10px;
    color: var(--paragraph);
    position: absolute;
    bottom: -12px;
    line-height: 18px;
    right: 0;
}

.services-top .price-box sub {
    font-size: 16px;
    color: var(--black);
    bottom: 0;
}
.services-top .price-box sup {
    color: var(--black);
    font-size: 26px;
}

sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
.dcRate{
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .services-top .price-box {
        font-size: 34px;
    }

    .services-top .price-box sub {
        font-size: 12px;
    }
        .services-top .price-box sup {
        font-size: 20px;
        margin-left: 2px;
    }
}
@media (min-width: 576px) {
    .mb-sm-0 {
        margin-bottom: 10px !important;
    }
}