<app-header></app-header>
<section class="about-header text-center py-5 bg-light">
  <div class="overlay"></div>
      <div class="carousel-caption">
        <h1>Our Services</h1>
        
      </div>
</section>

<app-service-card></app-service-card>

<div class="services-container">
  <h2 class="text-center" style="color:var(--secondary-color);font-weight:900;">LAUNDRY Pricing</h2>

  <!-- Price Tables -->
  <div class="row price-tables mt-4">
    <div class="col-md-3" id="dryclean">
      <h5 class="title-header">Men’s Clothes Dry Cleaning</h5>
      <table class="table table-bordered">
        <tr>
          <th>
            Men’s Clothes</th>
          <th>Amount / Steam Iron</th>
        </tr>
        <tr *ngFor="let item of mensClothes">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <h5 class="title-header">Women’s Clothes Dry Cleaning</h5>
      <table class="table table-bordered">
        <tr>
          <th>Women’s Clothes</th>
          <th>Amount / Steam Iron</th>
        </tr>
        <tr *ngFor="let item of womensClothes">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <h5 class="title-header">House Hold Items Dry Cleaning</h5>
      <table class="table table-bordered">
        <tr>
          <th>House Hold Items</th>
          <th>Amount</th>
        </tr>
        <tr *ngFor="let item of houseHold">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-3">
      <h5 class="title-header">Shoes Laundry</h5>
      <table class="table table-bordered">
        <tr>
          <th>Type of Shoes</th>
          <th>Amount</th>
        </tr>
        <tr *ngFor="let item of footwear">
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </table>
    </div>
  </div>
  <button class="button" (click)="bookPickupForm.openPopup()">Book Your Laundry Now!!</button>
  
</div>

<app-book-pick-up-form></app-book-pick-up-form>
<app-footer></app-footer>